@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

    /* ------- first div work ------- */

.head-sec{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.f-disk{
    width: 50%;
    padding: 0px 100px;
}
.f-disk h1{
    font-size: 50px;
    font-weight: 600;
}
.f-disk h3{
    font-weight: 600;
}
.f-disk h1 span{
    color: orange;
}
.f-disk p{
    text-align: justify;
    color: dimgray;
    font-weight: 500;
}


.for-img{
    padding: 20px 100px;
    width: 50%;
}
.for-img img{
    width: 700px;
}

/*for link button*/
.f-disk a{
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 35px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    color: white;
}


/* --------------- this is for second section -----------------*/


.sec-three{
    display: flex;

}
.image2{
    padding: 0px 100px;
    width: 50%;
}
.part2{
    width: 50%;
    padding: 0px 140px 0px 80px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110px;
}
.part2 h1{
    font-size: 50px;
    font-weight: 500;
}
.part2 h3{
    font-weight: 600;
    font-size: 26px;
}
.part2 p{
    text-align: justify;
    color: dimgray;
    margin-bottom: 30px;
}
.part2 a{
    text-decoration: none;
    color: white;
    background: linear-gradient(45deg, lightsalmon, tomato);
    font-weight: 600;
    font-size: 22px;
    padding: 8px 40px;
    border-radius: 5px;
}



/* ---------- section three ---------- */


.therd-sec{
    padding: 0px 100px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    height: 660px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-size: 95px;
}
.therd-sec h1{
    text-align: center;
    font-size: 50px;
    font-weight: 500;

}
.last-sec {
    width: 645px;
    float: left;
    border: 1px solid #c7bcbc;
    margin-left: 75px;
    padding: 0px 50px;
    border-radius: 10px;
    border-left: 8px solid #ff3584;
}
.last-sec:nth-child(2){
    margin-left: 0px;
    border-left: 8px solid orange;
}
.last-sec h1{
    font-size: 40px;
    text-align: center;
    text-align: left;
}
.last-sec h3{
    text-align: left;
    color: orange;
}
.last-sec p{
    text-align: justify;
    color: dimgray;
    margin-bottom: 30px;
}

.footer{
    color: dimgray;
    font-weight: 500;
    margin-top: 530px;
}